{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>All Posts</h2>
        <ul>
            {% for post in posts_data  %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}